body {
  background-color: #72A1BF !important;
}

/* .container{
  top: 205px;
  left: 392px;
  width: 1137px;
  height: 670px;
  background: #074770 0% 0% no-repeat padding-box;
  border-radius: 36px;
  opacity: 1;
} */

.myHeader{
  padding: 20px;
  margin-top: 150px;
  width: 1157px;
  height: 151px;
  background: #074770 0% 0% no-repeat padding-box;
  opacity: 1;
  /* /* background-color: #074770;
  padding:  50px; */
  display: flex; 
  border-top-left-radius: 36px;
  border-top-right-radius: 36px; 
}

.coordinates, .myMap{
  display: inline-table;
}

.coordinates{
  padding: 20px;
  top: 356px;
  left: 392px;
  width: 50%;
  height: 519px;
  background: #F2FAFF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 36px;
  opacity: 1;
  /* background-color: whitesmoke;
  padding: 30px;
  width: 50%; */
}
.myMap{
  width: 665px;
  height: 519px;
  top: -537px;
  left: 50%;
  border-radius: 0px 0px 36px 0px;
  opacity: 1;
  /* background: transparent url('img/Screenshot (1521).png') 0% 0% no-repeat padding-box; */
  /* width: 50% !important;
  height: 400px; */
}

.myDiv{
  display : inline-flex;
}

.locationHeader, .locationHeader, .longitudeHeader{
    margin-left: 20px !important;
}

.submitBtn{
  color: #074770;
  background-color: rgb(209, 208, 208);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  align-self: flex-end;
}

.showRouteBtn{
  color: white;
  background-color:#074770 ;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
}

.locationLabel, .latLabel, .longLabel{
  color:white;
}
