.myHeader{
  background-color: #074770;
  padding:  50px;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.coordinates, .myMap{
  display: inline-table;
}
.coordinates{
  background-color: whitesmoke;
  padding: 30px;
  width: 50%;
}
.myMap{
  background-color: violet;
  padding: 30px;
  width: 50% !important;
}

.submitBtn{
  color: #074770;
  background-color: rgb(209, 208, 208);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  align-self: flex-end;
}

.showRouteBtn{
  color: white;
  background-color:#074770 ;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
}

.locationInput, .latInput, .longInput{
  color:white;
}